{% extends 'base.html' %}
{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock title %}
{% block sidebar %}
    {% include "inc/_sidebar.html" %}
{% endblock sidebar %}
{% block content %}
    <div class="col-md-10 col-sm-7">
        <h1>{{ title }}</h1>
        {% for i in news %}
            <div class="card mb-3">
                <div class="card-header">Category: {{ i.category }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">
                        {{ i.content|safe|linebreaks|truncatewords:2 }}
                    </p>
                    <a href=".?{{ i.title|slugify }}" class="btn btn-primary">Read more...</a>
                </div>
                <div class="card-footer text-muted">{{ i.created_at|timesince }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
