<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    {% static 'MyCard\css\normalize.css' %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'MyCard\css\normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'MyCard\css\style.css' %}" />
    <title>Document</title>
  </head>

  <body>
    <header class="header">
      <div class="header__top">
        <div class="container">
          <a href="#"> +19843499329 </a>
          <a href="#"> mrantonsaenko@gmail.com </a>
          <a href="#"> Бесплатная Консультация </a>
        </div>
      </div>
      <div class="header__content">
        <div class="container">
          <div class="header__logo">
            <a href="#"> </a>
          </div>
          <nav class="menu">
            <ul>
              <li><a href="#">Главное</a></li>
              зку
              <li><a href="#">О Компании</a></li>
              <li><a href="#">Услуги</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
