<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header_top">
            <div class="container">
                <a href="#">
                    +19843499329
                </a>
                <a href="#">
                    mrantonsaenko@gmail.com
                </a>
                <a href="#">
                    Бесплатная Консультация
                </a>
            </div>
        </div>
        <div class="header_content">
            <div class="header__logo">
                <a href="#">
                    <img src="img/logo.inc" alt="">
                </a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#">Главное</a></li>
                    <li><a href="#">О Компании</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Контактыы</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>